
  <head>
    <title>Travel Planner</title>
  </head>
  <body>
    <h1>Travel Planner</h1>
    <p>Are you tired of looking for popular spots when you are planning your travels? Are you having trouble finding local delicacies? <br>
      Now, this Travel Helper can help you solve your troubles! <br>
      As long as you enter the destination, it can answer you!
      </p>
    <form action="/travel/results" method="POST">
      <label for="question">Enter a location or city name:</label>
      <input type="text" id="question" name="question" required />
      <button type="submit">Find Great Attractions</button>
    </form>
    <a href="/"><button>back</button></a>
  </body>

