
  <head>
    <title>Travel Planner Results</title>
  </head>
  <body>
    <h1>Travel Planner for <%= locals.question %></h1>
    <h2>Generated Travel Plan:</h2>
    <h4><%- locals.answer %></h4>
    <a href="/travel/index">Try another location</a>
    <a href="/"><button>back</button></a>
  </body>

