<h1>About the app</h1>
<p class="bg-info text-danger">About our project</p>


    <div class="row">
      
        <div class="col bg-primary">
          
         <div>
          In this project we implemnet several functions to our GPT chat bot including writing poems... 
          <br>
          The users can find the prompt history under "requests" on navbar
         </div>
        </div>

      </div>