
  <p class="about-section h2">About our project</p>
  
      <div class="about-section p ">
        
          <div >
            
           <div>
            In this project we implemnet several functions to our GPT chat bot including writing poems, generate travel plans, 
            <br>
            <br>
          
            The users can find the prompt history under "requests" on navbar
           </div>
          </div>
  
        </div>

