
    <h1>CS103a App</h1>
    <p class="text-danger">Welcome to the App</p>
    <ul>
        <li><a href="gegao/poet">Ge Gao's machine poet</a></li><br>
        <li><a href="travel/index">Ting Xu's Travel Planner</a></li><br>
    </ul>
    
   

    

    

  
    
  
