<h1>Team Bio</h1>
<h2>Ge Gao</h2>
<p>
    I am a first year MS4 student From GSAS of Brandeis University. I come from<br>
    China and am happy to find a large and precoious Chinese community here in Greater <br>
    Boston. I like wathcing movies, exploring restaurants of various cuisine and watching <br>
    pro sports. Teams I support includes Celtics,Arsenal and Ferrari F1.<br>
    <br>
    The function I implement is to let chatGPT write a poem based on given themes<br>
   
    </p>