<h1>Team Bio</h1>
<h2>Ge Gao</h2>
<p>
    I am a first year MS4 student From GSAS of Brandeis University. I come from<br>
    China and am happy to find a large and precoious Chinese community here in Greater <br>
    Boston. I like wathcing movies, exploring restaurants of various cuisine and watching <br>
    pro sports. Teams I support includes Celtics,Arsenal and Ferrari F1.<br>
    <br>
    The function I implement is to let chatGPT write a poem based on given themes<br>
</p>

<p>
    Hi, this is Ting. I am from Ningbo, China and I love swimming and singing. <br>
    As a product manager for Fund Management at my last company, I was instrumental in establishing the firm’s financial accounting system. <br>
    I witnessed tremendous changes brought about by information technology. And it ignites my strong passion to delve into the computer science field.<br>
    <br>
    For this GPT app, I built a query page about travel plan. When people travel, they always worry about local attractions and food. <br>
    If you can make a strategy before traveling, you can save a lot of time and improve the quality of travel.
</p>
