<form action="/gegao/showAnswer" method="POST">
    <h1>GPT the Poet</h1>
    <label for="question">give me some themes for the poem</label>
    <input type="text" name="question" id="question">
    
    <button type="submit">Generate</button>
</form>
<a href="/"><button>back</button></a>